<!doctype html>

<html>
<head>
	<title>paperworm</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/paperworm.css" rel="stylesheet">
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->       

</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="list"><span class="glyphicon glyphicon-briefcase"></span> All Papers</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<a href="read" class="btn btn-default navbar-btn navbar-right"><span class="glyphicon glyphicon-book"></span> Read </a>
			</div>
		</div>
	</nav>
	<div class="container">
		<!--
		<div class="topbar">
			<a href="list" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-briefcase"></span> All Papers</a>
			<a href="read" class="btn btn-default btn-lg" style="float: right"><span class="glyphicon glyphicon-book"></span> Read </a>
		</div>-->

		<div class="row" style="padding-top: 10px; padding-bottom: 10px">
			<!--Paper Cover-->
			<div class="col-sm-3">
				<div class="paper-container">
					<a href="read" height="600" width="400" ><img src="paperImg.png" class="img-responsive paper-image" height="600" width="400"/></a>
				</div>
			</div>
			<!--Paper Details-->
			<div class="col-sm-9">
				<div class="paper-details">
					<h2>SCADS: A Model of Children’s Strategy Choices and Strategy Discoveries</h2>
					<h4 id="authors">Jeff Shrager and Robert S. Siegler</h4>
					<!--Paper information-->
					<div class="table-responsive">
						<table class="table-striped table-bordered">
							<tr>
								<td><b>Journal</b></td>
								<td>{{ details.journal }}</td>
							</tr>
							<tr>
								<td><b>Publication Date</b></td>
								<td>{{ details.pubdate }}</td>
							</tr>
							<tr>
								<td><b>Pages</b></td>
								<td>{{ details.pages }}</td>
							</tr>
							<tr>
								<td><b>Abstract</b></td>
								<td><p>{{ details.abstract }}</p></td>
							</tr>
						</table>
					</div>
					<div class="citation-modal">
						<!-- Button trigger Citation modal -->
						<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#citationModal">
							APA Citation
						</button>

						<!-- Citation Modal -->
						<div class="modal fade" id="citationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">APA</h4>
									</div>
									<div class="modal-body">
										<p>{{ details.citation }}</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary">Copy</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!--End of paperdetails-->
			</div>
		</div>

		<div>

			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a href="#notes" data-toggle="tab">Notes</a></li>
				<li><a href="#glossary" data-toggle="tab">Glossary</a></li>
				<li><a href="#highlights" data-toggle="tab">Highlights</a></li>
			</ul>

		</div>

		<div class="tab-content">
			<div class="tab-pane fade in active" id="notes">

				{{! a space before #each will cause errors }}
				{{#each notes}}
					<!-- Note from student -->
					<div class="panel panel-default">
						<!-- Note header -->
						<div class="panel-heading">
							<div class="row">
								<!-- Title -->
								<div class="col-sm-10">
									<h4 class="panel-title">Note from {{ author }}</h4>
								</div>
								<!-- Buttons -->
								<div class="col-sm-2">
									<div class="btn-group" style="float: right">
										<button type="button" class="btn btn-default btn-xs" id="edit-obj"><span class="glyphicon glyphicon-pencil"></span></button>
										<button type="button" class="btn btn-default btn-xs" id="remove-obj"><span class="glyphicon glyphicon-remove"></span></button>
									</div>
								</div>
							</div>
						</div>
						<!-- Note content -->
						<div class="panel-body">
							<p>{{ body }}</p>
						</div>
					</div>
				{{/each}}



			</div> <!-- End of notes tab -->


			<div class="tab-pane fade" id="glossary">
                {{#each glossary}}
					<!-- Word -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <!-- Title -->
                                <div class="col-sm-10">
                                    <h4 class="panel-title">{{ word }}</h4>
                                </div>
                                <!-- Buttons -->
                                <div class="col-sm-2">
                                    <div class="btn-group" style="float: right">
                                        <button type="button" class="btn btn-default btn-xs" id="edit-obj"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn btn-default btn-xs" id="remove-obj"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Definitions -->
                        {{#each defs}}
                            <div class="panel-body">
                                <h5>{{ author }} Definition: </h5>
                                <p> {{ def }} </p>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
			</div> <!-- End of Glossary tab -->




			<div class="tab-pane fade" id="highlights">
                {{#each highlights}}
                    <!-- Highlight -->
                    <div class="panel panel-primary">
                        <!-- Highlight heading-->
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h4 class="panel-title">{{ author }}</h4>
                                </div>
                                <div class="col-sm-2">
                                    <div class="btn-group" style="float: right">
                                        <button type="button" class="btn btn-default btn-xs" id="edit-obj"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn btn-default btn-xs" id="remove-obj"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Quote-->
                        <div class="panel-body">
                            <h5>Page 7</h5>
                            <p>{{ hText }}</p>
                        </div>
                        <!-- Annotation-->
                            <p>{{ nText }}</p>
                        <div class="panel-footer">
                        </div>
                    </div>
                {{/each}}
			</div> <!-- End of Highlights tab -->

		</div> <!-- End of tab-content -->


	</div> <!-- End of container -->




	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/paperworm.js"></script>
</body>
</html>